{% extends "recipes/base.html" %}

{% block title %}
Holiday Recipes
{% endblock %}

{% block content %}

<h1>Recipes:</h1>

<div class="border-top">
    {% for recipe in recipes %}

    {% if recipe.category == "HOLIDAYS" %}
    <div class="card my-4">
        <div class="card-body">
            <h5 class="card-title">{{ recipe.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ recipe.author }}</h6>
            <h6 class="card-text">{{ recipe.description|linebreaksbr }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{ recipe.updated_at|date:"F d, Y" }}</h6>
            <a href="{% url 'recipes-detail' recipe.pk %}" class="card-link">View Recipe</a>
        </div>
    </div>
    {% endif %}

    {% endfor %}
</div>

{% endblock content %}
